<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	
	
		



	
	
	
		
	<targets >
		<target name="jsonfile" xsi:type="File" fileName="logs/jsonFile.log">
			<layout  type="JsonLayout">
				<attribute  name="time" layout="${longdate}"/>
				<attribute  name="level" layout="${level}"/>
				<attribute  name="message" layout="${message}"/>
				<attribute name ="eventPropertise" encode="fale">
					<layout type="JsonLayout" includeAllProperties="true" maxRecursionlimit="10"/>
					
				</attribute>
			
			
			</layout>
				
				 
	
	
	</target>
	</targets>

	<rules>
		<logger name="*"  writeTo="jsonfile" />
	</rules>

</nlog>